* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
  }

body {
    background-color: #fff0BD;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #b9d49f;
    width: 200px;
    padding: 20px;
    height: 100%;
}

.sidebar h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.ingredientes-lista {
    list-style: none;
}

.ingredientes-lista li {
    background-color: #d4e6c0;
    margin-bottom: 8px;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 0 5px;
    font-weight: bold;
}

#navbar{
    padding: 10px;
    border-radius: 8px;
    background-color: #ff3366;
}

.search-box {
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #aaa;
    outline: none;
    width: 400px;
    height: 40px;
}

.sugestoes {
    margin-top: 20px;
}

.sugestao {
    background-color: #fdf1cf;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid #999;
}

.sugestao h4 {
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: lowercase;
}

.botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.botoes button {
    background-color: #b9d49f;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.ingredientes-lista button{
    background-color: #d4e6c0;
    border: 0px;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
}

.ingredientes-lista button:hover{
    background-color: red;
}
  