body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF0BD; /* amarelo claro */
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 900px;
    margin: auto;
    border: 4px solid #000;
    background-color: #FFF0BD;
    border-radius: 8px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 120px;

}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.instrucoes {
    flex: 1;
    font-size: 1.1em;
    padding-right: 20px;
}

.qrcode {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.qrcode img {
    width: 200px;
    height: 200px;
    border: 10px solid #fff;
    background: #fff;
}

.scan-btn {
    margin-top: 15px;
    background-color: #C7DB9C; /* verde claro */
    border: 2px solid #000;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.scan-btn:hover {
    background-color: #A6C880;
}

.icon {
    margin-right: 8px;
}

html, body {
    height: 100%;
  }
